<h1>Proyectos</h1>

<%= link_to "Nuevo proyecto", new_project_path %>
<br /><br />
<table>
  <% @projects.each do |project| %>
    <tr>
      
      <td>
        <strong><%= link_to project.name, project %></strong>
      <td>
      <td>
        <%= truncate project.description, :size => 10 %>
      </td>
      <td>
        <%= project.start %>
      </td>
      <td>
        <%= link_to "Editar", edit_project_path(project) %>
      </td>
      <td>
        <%= link_to "Eliminar", project, 
                    :method => :delete, 
                    :confirm => 'Estas seguro de que quieres eliminar el proyecto?' %>
      </td>
    </tr>
  <% end %>
</table>